@import 'legend/legend.styl'

.nv-guideline
  display: none
.nvd3 .nv-axis.nv-x path.domain
  stroke-opacity: 0.75
.chart
  .legend
    position: absolute
    left: 10px
    top: 10px
    background-color: rgba(white, 0.7)