@import 'legend/legend.styl'

.nv-guideline
  display: none
.nvd3 .nv-axis.nv-x path.domain
  stroke-opacity: 0.75
.chart
  .legend
    position: absolute
    left: 0
    top: 10px
    background-color: rgba(white, 0.7)
    @media (min-width: $small)
      left: 22px
  .nv-context .nv-axis.nv-x text
    @media (max-width: 550px)
      display: none

.nv-focus
  .nv-line > g > .nv-groups > .nv-group
    stroke-opacity: 0.2 !important
  .nv-scatterWrap path
    stroke-width: 0
    fill-opacity: 1!important

.nv-context
  .nv-line > g > .nv-groups > .nv-group
    stroke-opacity: 0.7 !important