.repository__title
  margin-bottom 0

.repository__description
  margin-top 0

.repository__commits
  margin-top 2em

.commit
  margin 1em 0
  padding 1em 0
  border-bottom 1px solid #eee

  small
    color #777

