@import 'graph/graph.styl'

.legend
  position: absolute
  top: 0
  right: 0
  display: flex
  .module
    display: flex
    justify-content: center
    align-items: center
    margin-left: 0.5em
    .nub
      $radius = 0.8em
      width: $radius
      height: $radius
      border-radius: 50%
      margin-right: 0.2em