<header class="page-header">
  <h1 class="heading">
    <a href="/" class="identity" v-link="{ path: '/'}" title="npmcharts">
      <img src="/images/logo.svg" width="190" alt="npmcharts"/>
    </a>
    <p class="sub-heading">
      compare 
      <template v-if="isUsingPresetPackages">
        npm downloads
      </template>
      <a
        v-else
        class="package-linkout"
        v-for="moduleName in moduleNames"
        title="Open {{ moduleName }}'s npm page"
        :href="'https://www.npmjs.com/package/'+moduleName"
        target="_blank"
      >{{ moduleName }}</a>

    </p>
  </h1>
  <form class="header-controls-wrapper">
    <package-input
      class="package-input"
      :on-submit="addPackage"
      :is-using-preset-packages="isUsingPresetPackages"
    ></package-input>
    <div class="graph-config">

      <label class="include-item"><input type="checkbox" v-model="showWeekends"/>include weekends</label>

    </div>
  </form>
</header>
<main :class="{
  loading: $loadingRouteData,
}">
  <div class="chart-container">
    <div class="sample-matches">
      <span
        class="tweet-this-chart"
        @click="handleClickTwitter"
        @mouseenter="handleMouseEnterTwitter"
        @mouseleave="handleMouseLeaveTwitter"
      >
        <i v-html="twitterIcon"></i> {{ twitterMessage }}
      </span>
      <div class="caption">or try</div>
      <ul class="matches">
        <li
          v-for="packages in shuffle(presetPackages)"
          v-link="'/compare/' + packages.join(',')"
          class="match"
        >
          <template v-for="package in packages">
            <span class="vs" v-if="$index !==0"> vs </span><span
              class="package-name"
              :style="{
                color: moduleNames && moduleNames.indexOf(package) > -1 ? palette[moduleNames.indexOf(package) % palette.length] : ''
              }"
              >{{package}}</span>
          </template>
        </li>
      </ul>
    </div>
    <graph
      class="chart"
      v-if="moduleNames"
      v-ref:graph
      :module-names="moduleNames"
      :module-data="moduleData"
      :show-weekends="showWeekends"
      :show-outliers="showOutliers"
    >
    </graph>
    <div class="no-packages-selected" v-if="!moduleData">
      <p>No packages selected.</p>
      <p>Why not try
        <span class="match" v-link="'/compare/' + samplePreset.join(',')">
          <template v-for="package in samplePreset">
            <span class="vs" v-if="$index !==0"> vs </span><span
              class="package-name"
              :style="{
                color: palette[$index % palette.length]
              }"
              >{{package}}</span>
          </template>
        </span>?
      </p>
    </div>
  </div>
</main>
<footer>
  <div class="about">
    <a href="https://twitter.com/CheapSteak" target="_blank" class="created-by">
      Crafted in <img class="maple-leaf-icon" src="/images/icon-maple-leaf.svg" alt="Canada" width="16"/> by Chang Wang
    </a>
  </div>
  <div>
    <a class="repo-link" href="https://github.com/cheapsteak/npmcharts.com/" target="_blank" title="Github Repo, star, fork, do what you will 😄">
      <img src="/images/icon-github.svg" alt="Github Repo" width="16">
    </a>
  </div>
  <small class="disclaimer">npm is a trademark of npm, Inc.</small>
</footer>