<header class="page-header">
  <h1 class="heading">
    <a href="/" class="identity" v-link#="/">npmcharts</a>
    <p class="sub-heading">compare npm packages and spot&nbsp;download&nbsp;trends</p></h1>
  <form>
    <package-input class="package-input" bind-on-submit="addPackage"></package-input>
    <label class="ignore-weekends"><input type="checkbox" v-model="noWeekends"/>ignore weekends</label>
  </form>
</header>
<main bind-class="{loading: $loadingRouteData}">
  <div class="sample-matches">
    <div class="caption">try:</div>
    <ul class="matches">
      <li class="match" v-for="packages in presetPackages" v-link="'/compare/' + packages.join(',')">
        <template v-for="package in packages">
          <span class="vs" v-if="$index !==0"> vs </span><span
            class="package-name"
            bind-style="{
              color: moduleNames && moduleNames.indexOf(package) > -1 ? palette[moduleNames.indexOf(package) % palette.length] : ''
            }"
            >{{package}}</span>
        </template>
      </li>
    </ul>
  </div>
  <graph
    class="chart"
    v-if="moduleNames"
    bind-module-names="moduleNames"
    bind-module-data="moduleData"
    bind-no-weekends="noWeekends"
    bind-is-preset="isPreset"
  >
  </graph>
  <div class="no-packages-selected" v-if="!moduleData">
    <p>No packages selected.</p>
    <p>Why not try
      <span class="match" v-link="'/compare/' + samplePreset.join(',')">
        <template v-for="package in samplePreset">
          <span class="vs" v-if="$index !==0"> vs </span><span
            class="package-name"
            bind-style="{
              color: palette[$index % palette.length]
            }"
            >{{package}}</span>
        </template>
      </span>?
    </p>
  </div>
</main>
<footer>
  <div class="about">
    <span class="copyright">Created by Chang Wang</span>
  </div>
  <small class="disclaimer">npm is a trademark of npm, Inc.</small>
</footer>