vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

user-select()
  vendor('user-select', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

animation()
  vendor('animation', arguments)
