body, html
  margin 0
  padding 1em
  font 14px/1.4 'Helvetica Neue', Helvetica, Arial
  color #333

li
  margin 1em 0
  padding 1em 0
  border-bottom 1px solid #eee

h1
  margin-bottom 0

h2
  margin-top 0

ul
  margin-top 2em

li
  small
    color #777
