$nubRadius = 7px

.legend
  display: flex
  flex-direction: column
  padding: 10px
  .date
    font-weight: 600
    text-indent: $nubRadius
    margin-bottom: 8px
  .modules
    display: flex
    flex-direction: column
    align-items: flex-start
  .module
    display: flex
    justify-content: center
    align-items: center
    margin-left: 0.5em
    cursor: pointer
    for color, i in palette
      &:nth-child({i + 1}n)
        .nub:before, .nub:after
          background-color: unquote(color)
    .nub
      position: relative
      &:before, &:after
        content: ' '
        display: block
        $radius = $nubRadius
        width: $radius
        height: $radius
        border-radius: 50%
        margin-right: 0.2em
        transition: all 0.15s
      &:after
        position: absolute
        top: 0
        bottom: 0
        margin-top: auto
        margin-bottom: auto
    &:hover
      .nub
        &:before
          border-radius: 0
          transform: rotateZ(45deg) scaleX(0.2) scaleY(1.3)
        &:after
          border-radius: 0
          transform: rotateZ(-45deg) scaleX(0.2) scaleY(1.3)