$nubRadius = 7px

.legend
  display: flex
  flex-direction: column
  padding: 10px
  @media (max-width: 500px)
    font-size: 11px
  .date
    font-weight: 600
    th:first-child
      text-align: right
  .modules
    display: table  
    .module
      display: table-row
      & > div
        display: table-cell
        &:last-child
          padding-left: 8px
  .module
    display: flex
    justify-content: center
    align-items: center
    margin-left: 0.5em
    cursor: pointer
    .name-wrapper
      text-align: right
    .name
      position: relative
      display: inline-block
      text-indent: $nubRadius + 3px
    .nub
      $nubRadius
      position: absolute
      top: 0
      bottom: 0
      margin-top: auto
      margin-bottom: auto
      height: $nubRadius
      transition: all 0.15s
      transform: scale(0)
      opacity: 0.5
      .before, .after
        display: block
        width: $nubRadius
        height: $nubRadius
        border-radius: 50%
        margin-right: 0.2em
        transition: all 0.15s
      .after
        position: absolute
        top: 0
        bottom: 0
        margin-top: auto
        margin-bottom: auto
    &:hover
      .nub
        transform: scale(1)
        opacity: 1
        .before
          border-radius: 0
          transform: rotateZ(45deg) scaleX(0.2) scaleY(1.3)
        .after
          border-radius: 0
          transform: rotateZ(-45deg) scaleX(0.2) scaleY(1.3)