$nubRadius = 7px

.legend
  display: flex
  flex-direction: column
  padding: 10px
  .date
    font-weight: 600
    th:first-child
      text-align: right
  .modules
    // display: flex
    // flex-direction: column
    // align-items: flex-start
    display: table  
    .module
      display: table-row
      & > div
        display: table-cell
        &:last-child
          padding-left: 8px
  .module
    display: flex
    justify-content: center
    align-items: center
    margin-left: 0.5em
    cursor: pointer
    for color, i in palette
      &:nth-child({i + 1}n)
        .nub:before, .nub:after
          background-color: unquote(color)
    .name-wrapper
      text-align: right
    .name
      position: relative
      display: inline-block
      text-indent: $nubRadius + 3px
    .nub
      $radius = $nubRadius
      position: absolute
      top: 0
      bottom: 0
      margin-top: auto
      margin-bottom: auto
      height: $radius
      &:before, &:after
        content: ' '
        display: block
        width: $radius
        height: $radius
        border-radius: 50%
        margin-right: 0.2em
        transition: all 0.15s
      &:after
        position: absolute
        top: 0
        bottom: 0
        margin-top: auto
        margin-bottom: auto
    &:hover
      .nub
        &:before
          border-radius: 0
          transform: rotateZ(45deg) scaleX(0.2) scaleY(1.3)
        &:after
          border-radius: 0
          transform: rotateZ(-45deg) scaleX(0.2) scaleY(1.3)