doctype html
html
  head
    title Compare npm packages
    link(rel='stylesheet', href='css/style.css')
  body
    //- package-input (bind-on-submit="addPackage")
    //- button(on-click="clearPackages") clear

    //- legend(v-if="moduleNames && palette" bind-modules="moduleNames" bind-palette="palette")

    //- div#chart.with-3d-shadow.with-transitions(class="")
    //-   svg
    router-view
    script(src='js/bundle.js')