doctype html
html
  head
    title Compare and graph npm packages
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content="Chart download stats for npm packages. Compare graphs and spot trends. Try Browserify vs Webpack, Grunt vs Gulp, or React vs Angular vs Ember")
    link(rel="stylesheet" href="/css/style.css")
  body
    router-view
    script(src='/js/bundle.js')