doctype html
html
  head
    title Compare npm packages
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="css/style.css")
  body
    router-view
    //- footer(v-cloak).
    //-   Created by Chang Wang.
    //-   I'm doing a front-end bootcamp if you want to learn to make cool stuff, come check it out!
    script(src='js/bundle.js')